/*======= index.html =======*/

#page1 .col-1 {width: 623px; padding: 0 37px 0 0;}
#page1 .col-2 {width: 325px;}

/*======= index-1.html =======*/

#page2 .col-1 {width: 623px; padding: 0 35px 0 0;}
#page2 .col-2 {width: 327px;}

/*======= index-2.html =======*/

#page3 .col-1 {width: 623px; padding: 0 37px 0 0;}
#page3 .col-2 {width: 325px;}

/*======= index-3.html =======*/

#page4 .col-1 {width: 623px; padding: 0 37px 0 0;}
#page4 .col-2 {width: 325px;}

/*======= index-4.html =======*/

#page5 .col-1 {width: 623px; padding: 0 37px 0 0;}
#page5 .col-2 {width: 325px;}

/*======= index-5.html =======*/

#page6 .col-1 {width: 623px; padding: 0 35px 0 0;}
#page6 .col-2 {width: 327px;}

/*======= index-6.html =======*/

#page7 .col-1 {width: 623px; padding: 0 37px 0 0;}
#page7 .col-2 {width: 325px;}

#page7 .col-1 .block-1 {width: 308px; padding: 0 7px 5px 0;}
#page7 .col-1 .block-2 {width: 308px; padding: 0 0 5px 0;}